---
import Layout from "../../layouts/Layout.astro"
import ProjectGrid from "../../components/ProjectGrid.astro"
import { getCategories, getWorksByCategorySlug } from "../../lib/sanity.queries"

export async function getStaticPaths() {
  const categories = await getCategories()
  return categories.map(category => ({
    params: { categorySlug: category.slug },
  }))
}

const { categorySlug } = Astro.params
const categories = await getCategories()
const works = await getWorksByCategorySlug(categorySlug!)
const activeCategory = categories.find(category => category.slug === categorySlug)
const pageTitle = `${activeCategory?.title ?? "Projects"} | De Mennis`
const seoH1 = `${activeCategory?.title ?? "Projects"} projects`
---

<Layout title={pageTitle}>
  <main>
    <h1 class="sr-only">{seoH1}</h1>
    <ProjectGrid items={works} categories={categories} activeSlug={categorySlug} />
  </main>
</Layout>
